:root {
    --main-c: #6300FF;
    --accent-1: #FF6300;
    --accent-2: #00FF63;
    --bg-c: #fff5fe;
    --main-f-fam: Helvetica;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-c);
    font-family: var(--main-f-fam);
}

#main-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vw;
    max-height: 70px;
    gap: 2em;
    background-color: var(--main-c);
}

#bar-logo {
    margin-right: auto;
}

.bar-element {
    margin-right: 1em;

    &:hover {
        text-decoration-line: underline;
    }
}


.m-header {
    font-weight: bolder;
    font-family: monospace;
    color: var(--accent-1);
}