:root {
    --main-c: #6300FF;
    --accent-1: #FF6300;
    --accent-2: #00FF63;
    --bg-c: #fff5fe;
    --main-f-fam: Helvetica;
    --bshade: 2px 3px 10px rgb(171, 171, 171);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-c);
    font-family: var(--main-f-fam);
}

#main-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vw;
    max-height: 70px;
    gap: 2em;
    background-color: var(--main-c);

    box-shadow: var(--bshade);

    margin-left: 0;
}

#bar-logo {
    margin-right: auto;

}

.bar-element {
    color: white;
    margin-right: 1em;

    &:hover {
        text-decoration-line: underline;
    }
}

.link:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


.m-header {
    font-weight: bolder;
    color: var(--accent-1);
}