:root {
    --main-c: #6300FF;
    --accent-1: #FF6300;
    --accent-2: #00FF63;
    --bg-c: #fff5fe;
    --main-f-fam: Helvetica;
}

#DBG-test-box {
    height: 10px;
    width: 10px;
    background-color: #00FF63;
    border: 1px ridge black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-c);
    font-family: var(--main-f-fam);
}

#main-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vw;
    gap: 2em;
    background-color: var(--main-c);
}

#bar-logo {
    margin-right: auto;
    margin-left: 1em;
}

.bar-element {
    margin-right: 1em;

    &:hover {
        text-decoration-line: underline;
    }
}

.header {
    font-family: 'Times New Roman';
}